<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    {% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'wishlist/css/style.css' %}">
    <title>Create Item</title>
</head>
<body>
    <div class="container">
        <a href="/dashboard" class="nav">Home</a><br>
        <a href="/logout" class="nav">Logout</a>
        <h2>Create a new Wish List Item</h2>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="form-container">
            <form action="{% url 'wishlist:createitem' %}" method="post">
                {% csrf_token %}
                <label for="name">Item/Product:</label>
                <input type="text" name="name"><br>
                <input type="submit" value="Add">
            </form>
        </div>
    </div>
</body>
</html>