<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    {% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'wishlist/css/style.css' %}">
    <title>My Wish List</title>
</head>
<body>
    <div class="container">
        <a href="/logout" class="nav">Logout</a>
        <h2>Hello, {{ user.name }}!</h2>
        <h5>Your Wishlist</h5>
        <table>
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Added By</th>
                    <th>Date Added</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in myitems %}
                <tr>
                    <td><a href="{% url 'wishlist:show' item.id %}">{{item.name}}</a></td>
                    <td>{{item.user.name}}</td>
                    <td>{{item.created_at}}</td>
                    <td><a href="{% url 'wishlist:delete' item.id %}">Delete</a></td>
                </tr>
                {% endfor %}
                {% for item in added %}
                <tr>
                    <td><a href="{% url 'wishlist:show' item.id %}">{{item.name}}</a></td>
                    <td>{{item.user.name}}</td>
                    <td>{{item.created_at}}</td>
                    <td><a href="{% url 'wishlist:remove' item.id %}">Remove from my Wishlist</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h5>Other Users' Wish List</h5>
        <table>
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Added By</th>
                    <th>Date Added</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in allitems %}
                <tr>
                    <td><a href="{% url 'wishlist:show' item.id %}">{{item.name}}</a></td>
                    <td>{{item.user.name}}</td>
                    <td>{{item.created_at}}</td>
                    <td><a href="{% url 'wishlist:join' item.id %}">Add to my Wishlist</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'wishlist:additem' %}" class="additem">Add Item</a>
    </div>
</body>
</html>