<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    {% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'wishlist/css/style.css' %}">
    <title>Login/Registration</title>
</head>
<body>
    <div class="container">
        <h2>Welcome!</h2>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="row">
            <div class="one-half column">
                <div class="form-container index">
                    <h3>Register</h3>
                    <form action="/register" method="post">
                        {% csrf_token %}
                        <label for="name">Name:</label>
                        <input type="text" name="name" class="u-full-width">
                        <label for="username">Username:</label>
                        <input type="text" name="username" class="u-full-width">
                        <label for="password">Password:</label>
                        <input type="password" name="password" class="u-full-width">
                        <label for="confirm_pw">Confirm PW:</label>
                        <input type="password" name="confirm_pw" class="u-full-width">
                        <label for="date_hired">Date Hired:</label>
                        <input type="date" name="date_hired"><br><br>
                        <input type="submit" value="Register">
                    </form>
                </div>
            </div>
            <div class="one-half column">
                <div class="form-container index">
                    <h3>Login</h3>
                    <form action="/login" method="post">
                        {% csrf_token %}
                        <label for="username">Username:</label>
                        <input type="text" name="username" class="u-full-width">
                        <label for="password">Password:</label>
                        <input type="password" name="password" class="u-full-width"><br><br>
                        <input type="submit" value="Login">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>