<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    {% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'wishlist/css/style.css' %}">
    <title>Show Item</title>
</head>
<body>
    <div class="container">
        <a href="/dashboard" class="nav">Home</a><br>
        <a href="/logout" class="nav">Logout</a>
        {% for item in items %}
        <h2>{{item.name}}</h2>
        <h5>Users who added this product/item under their wish list:</h5>
        <ul>
            <li>{{item.user.name}}</li>
            {% for user in item.join.all %}
            <li>{{user.name}}</li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
</body>
</html>